<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <script type="text/javascript">
            const app = require('./js/app')
        </script>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="css/flight-view.css" type="text/css" rel="stylesheet">
    </head>

    <body ng-app="flightView" ng-controller="FlightViewController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a type="button" ng-click="openTab = 'dashboard'" class="navbar-brand">
                        <img id="top-left-icon" src="img/white-airplane.png">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a type="button"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-default navbar-btn btn-sm">Listen</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn btn-sm btn-margin-left">Host</button></li>
                    <li><a type="button" ng-click="toggleConsole()"><span class="glyphicon glyphicon-console"></span></a></li>
                </ul>
            <div>
        </nav>

        <nav class="navbar navbar-inverse navbar-fixed-left">

        </nav>

        <div class="container" ng-include="openTab + '.html'"></div>
    </body>

    <script type="text/javascript">
        app.ipcClient.connect()
    </script>
</html>
